USE [master]
GO
/****** Object:  Database [VendingMachines]    Script Date: 11.02.2022 17:37:19 ******/
CREATE DATABASE [VendingMachines]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingMachines', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachines.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingMachines_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachines_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingMachines].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingMachines]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denomination] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Coins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Drinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachineCoins]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachineCoins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[CoinsId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VendingMachineCoins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachineDrinks]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachineDrinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendingMachineId] [int] NOT NULL,
	[DrinksId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VendingMachineDrinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 11.02.2022 17:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecretCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.VendingMachines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CoinsId]    Script Date: 11.02.2022 17:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_CoinsId] ON [dbo].[VendingMachineCoins]
(
	[CoinsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendingMachineId]    Script Date: 11.02.2022 17:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_VendingMachineId] ON [dbo].[VendingMachineCoins]
(
	[VendingMachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DrinksId]    Script Date: 11.02.2022 17:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_DrinksId] ON [dbo].[VendingMachineDrinks]
(
	[DrinksId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VendingMachineId]    Script Date: 11.02.2022 17:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_VendingMachineId] ON [dbo].[VendingMachineDrinks]
(
	[VendingMachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VendingMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VendingMachineCoins_dbo.Coins_CoinsId] FOREIGN KEY([CoinsId])
REFERENCES [dbo].[Coins] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachineCoins] CHECK CONSTRAINT [FK_dbo.VendingMachineCoins_dbo.Coins_CoinsId]
GO
ALTER TABLE [dbo].[VendingMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VendingMachineCoins_dbo.VendingMachines_VendingMachineId] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachineCoins] CHECK CONSTRAINT [FK_dbo.VendingMachineCoins_dbo.VendingMachines_VendingMachineId]
GO
ALTER TABLE [dbo].[VendingMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VendingMachineDrinks_dbo.Drinks_DrinksId] FOREIGN KEY([DrinksId])
REFERENCES [dbo].[Drinks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachineDrinks] CHECK CONSTRAINT [FK_dbo.VendingMachineDrinks_dbo.Drinks_DrinksId]
GO
ALTER TABLE [dbo].[VendingMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VendingMachineDrinks_dbo.VendingMachines_VendingMachineId] FOREIGN KEY([VendingMachineId])
REFERENCES [dbo].[VendingMachines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VendingMachineDrinks] CHECK CONSTRAINT [FK_dbo.VendingMachineDrinks_dbo.VendingMachines_VendingMachineId]
GO
USE [master]
GO
